.idea
/modules
/Artem_Kasperovich/venv
/Artem_Kasperovich/.pytest_cache
/Artem_Kasperovich/url
/Artem_Kasperovich/json_data.json
/Artem_Kasperovich/tests.py
/Artem_Kasperovich/test
/Artem_Kasperovich/rss_reader.egg-info/
/Artem_Kasperovich/test/